html {
	background-color: #e5e5f7;
	background-image:  radial-gradient(#636bff 1.3px, transparent 1.3px), radial-gradient(#444cf7 1.3px, #e5e5f7 1.3px);
	background-size: 52px 52px;
	background-position: 0 0,26px 26px;
	font-size: 150%; 
}


body {
	color: var(--primary,#000);
	line-height: 1.5;
	margin: 0 auto;
	max-width: 700px;
	padding: 10px;
	word-break: break-word;
	overflow-wrap: break-word;
}

body * {
	max-width: 100%;
}


header {
	padding: 10px 0;
}

header * {
	margin-top: 0;
	margin-bottom: 0;
}

.border-bottom, header {
	border-bottom: 1px solid #000;
	border-bottom: 1px solid var(--primary,#000);
}

a, hr {
	color: #000;
	background-color: #e5e5f7;
	color: var(--primary,#000);
}


